.special-select-item .select-trigger {
    width: 100% !important;
    height: 100% !important;
}

.special-select-item .el-input {
    width: 100% !important;
    height: 100% !important;
}

.special-select-item .el-select__input {
    margin-left: 4.4% !important;
}

.special-select-item .el-input__wrapper {
    border-radius: 25px !important;
    background-color: #D9D9D9 !important;
    padding-left: 4% !important;
    width: 100% !important;
    height: 100% !important;
}

.special-select-item .el-input__inner {
    color: black !important;
    font-size: 0.9vw !important;
}

.special-select-item {
    width: 76% !important;
    height: 22.5% !important;

}
