.el-popper {
	border-radius: 25px !important;
}

.el-select-dropdown__item {
	font-family: 'Open Sans' !important;
	font-size: 1vw !important;
	text-align: center !important;
}

.el-select-dropdown__item.selected {
	color: #ed5087 !important;
}

.el-select .el-input.is-focus .el-input__wrapper {
	box-shadow: 0 0 0 1px #ed5087 inset !important;
}

.el-select .el-input.is-ac .el-input__wrapper {
	box-shadow: 0 0 0 1px #ed5087 inset !important;
}

.el-select {
	--el-select-input-focus-border-color: #ed5087 !important;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected::after{
	background-color: #ed5087 !important;
}