body {
    margin: 0;
  }

.el-notification__title{
  font-family: 'Open Sans';
}

.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
	color: #ed5087 !important;
}

.edit-menu-component .el-dialog__body {
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.add-menu-component .el-dialog__body {
  padding: 0 !important;
  height: 100% !important;
  width: 100% !important;
}

.el-button:active {
  background-color: inherit !important;
  border-color: inherit !important;
  color: inherit !important;
}