circle {
	animation: 1.4s ease-in-out infinite both circle-animation1 !important;
	display: block !important;
	fill: transparent !important;
	stroke: #ed5087 !important;
	stroke-linecap: round !important;
	stroke-dasharray: 283 !important;
	stroke-dashoffset: 100 !important;
	stroke-width: 5px !important;
	transform-origin: 50% 50% !important;
}

@keyframes circle-animation1 {
	0%,
	25% {
		stroke-dashoffset: 100;
		transform: rotate(0);
	}

	50%,
	75% {
		stroke-dashoffset: 100;
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: 100;
		transform: rotate(360deg);
	}
}